In [1]:
import pandas as pd
import shutil, os
import numpy as np

In [2]:
df = pd.read_csv('r.csv')
df.head()

,parcel_name,sws_rs,sws_gb,sws_ms,sws_fa,sws_rw,sws_total
0,gmd_17Networks_17,0.166971,0.051392,0.107496,-0.069671,0.184833,0.111557
1,gmd_17Networks_16,0.118898,0.035596,0.026529,0.069384,0.099563,0.092149
2,gmd_17Networks_15,0.040398,0.026939,0.022451,0.109657,0.005116,0.059787
3,gmd_17Networks_14,-0.044211,-0.076722,-0.072343,0.049435,-0.054085,-0.040322
4,gmd_17Networks_13,0.116004,-0.003638,0.144275,-0.098356,0.146914,0.085295

In [3]:
df1 = df[['parcel_name' ,'sws_ms']]
df1.head()

         parcel_name    sws_ms
0  gmd_17Networks_17  0.107496
1  gmd_17Networks_16  0.026529
2  gmd_17Networks_15  0.022451
3  gmd_17Networks_14 -0.072343
4  gmd_17Networks_13  0.144275

In [4]:
df1.shape

(2718, 2)

In [5]:
df2 = df1.dropna()

In [6]:
df2.shape

(2718, 2)

In [7]:
df2.insert(1, 'parc_name', np.nan)

In [8]:
df2.head()

         parcel_name  parc_name    sws_ms
0  gmd_17Networks_17        NaN  0.107496
1  gmd_17Networks_16        NaN  0.026529
2  gmd_17Networks_15        NaN  0.022451
3  gmd_17Networks_14        NaN -0.072343
4  gmd_17Networks_13        NaN  0.144275

In [10]:
#df2 = df2.reset_index()

In [11]:
#df2.head()

   index        parcel_name  parc_name  sws_total
0      0  gmd_17Networks_17        NaN   0.111557
1      1  gmd_17Networks_16        NaN   0.092149
2      2  gmd_17Networks_15        NaN   0.059787
3      3  gmd_17Networks_14        NaN  -0.040322
4      4  gmd_17Networks_13        NaN   0.085295

In [12]:
#df = df2.drop('index', axis = 1)

In [9]:
df = df2

In [10]:
df.head()

         parcel_name  parc_name    sws_ms
0  gmd_17Networks_17        NaN  0.107496
1  gmd_17Networks_16        NaN  0.026529
2  gmd_17Networks_15        NaN  0.022451
3  gmd_17Networks_14        NaN -0.072343
4  gmd_17Networks_13        NaN  0.144275

In [11]:
markers = ['gmd_', 'zALFF_', 'zfALFF_', 'zReHo_', 'zDCwei_', 'zDCbin_']
for i,parc in enumerate(df["parcel_name"]):
    #for i in range(df.shape[0]):
    for marker in markers:
        if parc.find(marker)==0:
            df["parc_name"][i] = df["parcel_name"][i][len(marker):]
            #print(df["sws_total"][i])
            col = marker + "sws_ms_r" 
            if col not in df:
                df.insert(2, col, np.nan)
            df.iloc[i, df.columns.get_loc(col)] = df["sws_ms"][i]

<ipython-input-11-0dd17490990f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["parc_name"][i] = df["parcel_name"][i][len(marker):]
/home/tara/Programming/env/lib/python3.8/site-packages/pandas/core/indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [12]:
df

,parcel_name,parc_name,zALFF_sws_ms_r,zDCbin_sws_ms_r,zDCwei_sws_ms_r,zfALFF_sws_ms_r,zReHo_sws_ms_r,gmd_sws_ms_r,sws_ms
0,gmd_17Networks_17,17Networks_17,NaN,NaN,NaN,NaN,NaN,0.107496,0.107496
1,gmd_17Networks_16,17Networks_16,NaN,NaN,NaN,NaN,NaN,0.026529,0.026529
2,gmd_17Networks_15,17Networks_15,NaN,NaN,NaN,NaN,NaN,0.022451,0.022451
3,gmd_17Networks_14,17Networks_14,NaN,NaN,NaN,NaN,NaN,-0.072343,-0.072343
4,gmd_17Networks_13,17Networks_13,NaN,NaN,NaN,NaN,NaN,0.144275,0.144275
...,...,...,...,...,...,...,...,...,...
2713,zDCbin_rHipp_L,rHipp_L,NaN,0.057317,NaN,NaN,NaN,NaN,0.057317
2714,zDCbin_lAmyg_R,lAmyg_R,NaN,0.153849,NaN,NaN,NaN,NaN,0.153849
2715,zDCbin_lAmyg_L,lAmyg_L,NaN,0.085805,NaN,NaN,NaN,NaN,0.085805
2716,zDCbin_mAmyg_R,mAmyg_R,NaN,0.073750,NaN,NaN,NaN,NaN,0.073750
2717,zDCbin_mAmyg_L,mAmyg_L,NaN,0.089339,NaN,NaN,NaN,NaN,0.089339

In [13]:
#df.to_csv('r_reformed.csv')

### merging duplicates

In [14]:
#df = pd.read_csv('r_reformed.csv')

In [15]:
df.shape

(2718, 9)

In [16]:
df2 = df.copy()
inds = df2['parc_name'].drop_duplicates().reset_index(drop=True)
df2.set_index('parc_name', inplace=True)
df3 = pd.DataFrame(columns = df2.columns)
for ind in inds:
    region = df2.loc[[ind]]
    if region.shape[0] > 1 :
        reg = region
        cols = reg.columns
        for col in cols:
            reg[col] = reg[col].sum()
        reg = reg.drop_duplicates()
        df3 = pd.concat([df3, reg])
        continue
    df3 = pd.concat([df3, region])

In [17]:
df3.shape

(453, 8)

In [18]:
df3.to_csv('SWSms_r_reformed.csv')