In [1]:
import pandas as pd
import shutil, os
import numpy as np

In [2]:
df = pd.read_csv('bonferroni.csv')
df.head()

,parcel_name,sws_rs,sws_gb,sws_ms,sws_fa,sws_rw,sws_total
0,zALFF_17Networks_1,NaN,NaN,NaN,0.000748,NaN,NaN
1,zReHo_17Networks_LH_SomMotA_5,NaN,NaN,0.032759,NaN,NaN,NaN
2,zfALFF_rHipp_L,0.048210,NaN,NaN,NaN,NaN,0.026329
3,zfALFF_mAmyg_L,NaN,NaN,NaN,NaN,NaN,0.037395
4,zfALFF_17Networks_RH_ContA_PFCl_4,0.049117,NaN,NaN,NaN,NaN,NaN

In [3]:
df1 = df[['parcel_name' ,'sws_ms']]
df1.head()

                         parcel_name    sws_ms
0                 zALFF_17Networks_1       NaN
1      zReHo_17Networks_LH_SomMotA_5  0.032759
2                     zfALFF_rHipp_L       NaN
3                     zfALFF_mAmyg_L       NaN
4  zfALFF_17Networks_RH_ContA_PFCl_4       NaN

In [4]:
df1.shape

(15, 2)

In [5]:
df2 = df1.dropna()

In [6]:
df2.shape

(1, 2)

In [7]:
df2.insert(1, 'parc_name', np.nan)

In [8]:
df2.head()

                     parcel_name  parc_name    sws_ms
1  zReHo_17Networks_LH_SomMotA_5        NaN  0.032759

In [9]:
df2 = df2.reset_index()

In [10]:
df2.head()

   index                    parcel_name  parc_name    sws_ms
0      1  zReHo_17Networks_LH_SomMotA_5        NaN  0.032759

In [11]:
df = df2.drop('index', axis = 1)

In [12]:
df.head()

                     parcel_name  parc_name    sws_ms
0  zReHo_17Networks_LH_SomMotA_5        NaN  0.032759

In [13]:
markers = ['gmd_', 'zALFF_', 'zfALFF_', 'zReHo_', 'zDCwei_', 'zDCbin_']
for i,parc in enumerate(df["parcel_name"]):
    #for i in range(df.shape[0]):
    for marker in markers:
        if parc.find(marker)==0:
            df["parc_name"][i] = df["parcel_name"][i][len(marker):]
            #print(df["sws_total"][i])
            col = marker + "sws_ms_bonferroni" 
            if col not in df:
                df.insert(2, col, np.nan)
            df.iloc[i, df.columns.get_loc(col)] = df["sws_ms"][i]

<ipython-input-13-2d4538411937>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["parc_name"][i] = df["parcel_name"][i][len(marker):]
/home/tara/Programming/env/lib/python3.8/site-packages/pandas/core/indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [14]:
df

,parcel_name,parc_name,zReHo_sws_ms_bonferroni,sws_ms
0,zReHo_17Networks_LH_SomMotA_5,17Networks_LH_SomMotA_5,0.032759,0.032759

In [ ]:
#df.to_csv('bonferroni_reformed.csv')

### merging duplicates

In [ ]:
#df = pd.read_csv('bonferroni_reformed.csv')
#df.head()

In [15]:
df.shape

(1, 4)

In [16]:
df2 = df.copy()
inds = df2['parc_name'].drop_duplicates().reset_index(drop=True)
df2.set_index('parc_name', inplace=True)
df3 = pd.DataFrame(columns = df2.columns)
for ind in inds:
    region = df2.loc[[ind]]
    if region.shape[0] > 1 :
        reg = region
        cols = reg.columns
        for col in cols:
            reg[col] = reg[col].sum()
        reg = reg.drop_duplicates()
        df3 = pd.concat([df3, reg])
        continue
    df3 = pd.concat([df3, region])

In [17]:
df3.to_csv('SWSms_bonferroni_reformed.csv')

In [18]:
df3.shape

(1, 3)