In [1]:
import pandas as pd
import shutil, os
import numpy as np

In [2]:
df = pd.read_csv('r.csv')
df.head()

,parcel_name,sws_rw,sws_rs,sws_gb,sws_ms,sws_fa,sws_total
0,gmd_17Networks_17,0.175576,0.003585,0.005718,0.139167,-0.049975,0.033909
1,gmd_17Networks_16,0.038619,-0.065373,-0.147804,0.013676,-0.129884,-0.092584
2,gmd_17Networks_15,-0.136756,-0.089147,-0.022907,0.001233,-0.089863,-0.072051
3,gmd_17Networks_14,0.065292,-0.006713,-0.052060,-0.010530,-0.022879,-0.015831
4,gmd_17Networks_13,0.102230,-0.088861,-0.110288,0.105084,-0.107821,-0.054018

In [3]:
df1 = df[['parcel_name' ,'sws_total']]
df1.head()

         parcel_name  sws_total
0  gmd_17Networks_17   0.033909
1  gmd_17Networks_16  -0.092584
2  gmd_17Networks_15  -0.072051
3  gmd_17Networks_14  -0.015831
4  gmd_17Networks_13  -0.054018

In [4]:
df1.shape

(884, 2)

In [5]:
df2 = df1.dropna()

In [6]:
df2.shape

(884, 2)

In [7]:
df2.insert(1, 'parc_name', np.nan)

In [8]:
df2.head()

         parcel_name  parc_name  sws_total
0  gmd_17Networks_17        NaN   0.033909
1  gmd_17Networks_16        NaN  -0.092584
2  gmd_17Networks_15        NaN  -0.072051
3  gmd_17Networks_14        NaN  -0.015831
4  gmd_17Networks_13        NaN  -0.054018

In [9]:
df2 = df2.reset_index()

In [10]:
df2.head()

   index        parcel_name  parc_name  sws_total
0      0  gmd_17Networks_17        NaN   0.033909
1      1  gmd_17Networks_16        NaN  -0.092584
2      2  gmd_17Networks_15        NaN  -0.072051
3      3  gmd_17Networks_14        NaN  -0.015831
4      4  gmd_17Networks_13        NaN  -0.054018

In [11]:
df = df2.drop('index', axis = 1)

In [12]:
#df = df2

In [13]:
df.head()

         parcel_name  parc_name  sws_total
0  gmd_17Networks_17        NaN   0.033909
1  gmd_17Networks_16        NaN  -0.092584
2  gmd_17Networks_15        NaN  -0.072051
3  gmd_17Networks_14        NaN  -0.015831
4  gmd_17Networks_13        NaN  -0.054018

In [14]:
markers = ['gmd_', 'zALFF_', 'zfALFF_', 'zReHo_', 'zDCwei_', 'zDCbin_', 'fALFF_']
for i,parc in enumerate(df["parcel_name"]):
    #for i in range(df.shape[0]):
    for marker in markers:
        if parc.find(marker)==0:
            df["parc_name"][i] = df["parcel_name"][i][len(marker):]
            #print(df["sws_total"][i])
            col = marker + "sws_total_r" 
            if col not in df:
                df.insert(2, col, np.nan)
            df.iloc[i, df.columns.get_loc(col)] = df["sws_total"][i]

<ipython-input-14-4b72eb3efb71>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["parc_name"][i] = df["parcel_name"][i][len(marker):]
/home/tara/Programming/env/lib/python3.8/site-packages/pandas/core/indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [15]:
df.head()

,parcel_name,parc_name,zALFF_sws_total_r,zfALFF_sws_total_r,zDCbin_sws_total_r,zDCwei_sws_total_r,fALFF_sws_total_r,zReHo_sws_total_r,gmd_sws_total_r,sws_total
0,gmd_17Networks_17,17Networks_17,NaN,NaN,NaN,NaN,NaN,NaN,0.033909,0.033909
1,gmd_17Networks_16,17Networks_16,NaN,NaN,NaN,NaN,NaN,NaN,-0.092584,-0.092584
2,gmd_17Networks_15,17Networks_15,NaN,NaN,NaN,NaN,NaN,NaN,-0.072051,-0.072051
3,gmd_17Networks_14,17Networks_14,NaN,NaN,NaN,NaN,NaN,NaN,-0.015831,-0.015831
4,gmd_17Networks_13,17Networks_13,NaN,NaN,NaN,NaN,NaN,NaN,-0.054018,-0.054018

In [ ]:
#df.to_csv('r_reformed.csv')

### merging duplicates

In [ ]:
#df = pd.read_csv('r_reformed.csv')

In [16]:
df.shape

(884, 10)

In [17]:
df2 = df.copy()
inds = df2['parc_name'].drop_duplicates().reset_index(drop=True)
df2.set_index('parc_name', inplace=True)
df3 = pd.DataFrame(columns = df2.columns)
for ind in inds:
    region = df2.loc[[ind]]
    if region.shape[0] > 1 :
        reg = region
        cols = reg.columns
        for col in cols:
            reg[col] = reg[col].sum()
        reg = reg.drop_duplicates()
        df3 = pd.concat([df3, reg])
        continue
    df3 = pd.concat([df3, region])

In [18]:
df3.shape

(153, 9)

In [19]:
df3.to_csv('r_reformed.csv')