In [167]:
import pandas as pd
import numpy as np
import os 
import shutil

In [168]:
df = pd.read_csv('subregions.csv')
df.head()

,parc_name,gmd_sws_total_fdr,zALFF_sws_total_fdr,zfALFF_sws_total_fdr,zDCbin_sws_total_fdr,zDCwei_sws_total_fdr,zReHo_sws_total_fdr
0,17Networks_17,NaN,NaN,NaN,NaN,NaN,NaN
1,17Networks_16,NaN,NaN,NaN,NaN,NaN,NaN
2,17Networks_15,NaN,NaN,NaN,NaN,NaN,0.04454
3,17Networks_14,NaN,NaN,NaN,NaN,NaN,NaN
4,17Networks_13,NaN,NaN,NaN,NaN,NaN,NaN

### gmd

In [169]:
df1 = df[['parc_name', 'gmd_sws_total_fdr']]
df1.head()

       parc_name  gmd_sws_total_fdr
0  17Networks_17                NaN
1  17Networks_16                NaN
2  17Networks_15                NaN
3  17Networks_14                NaN
4  17Networks_13                NaN

In [170]:
df2 = df1.dropna()

In [171]:
df2 = df2.reset_index()

In [172]:
df.head()

,parc_name,gmd_sws_total_fdr,zALFF_sws_total_fdr,zfALFF_sws_total_fdr,zDCbin_sws_total_fdr,zDCwei_sws_total_fdr,zReHo_sws_total_fdr
0,17Networks_17,NaN,NaN,NaN,NaN,NaN,NaN
1,17Networks_16,NaN,NaN,NaN,NaN,NaN,NaN
2,17Networks_15,NaN,NaN,NaN,NaN,NaN,0.04454
3,17Networks_14,NaN,NaN,NaN,NaN,NaN,NaN
4,17Networks_13,NaN,NaN,NaN,NaN,NaN,NaN

In [173]:
df = df2.drop('index', axis = 1)

In [174]:
#directory = input('Enter the root directory: ')
directory = '/home/tara/MRIcroGL_linux/masks'

In [176]:
ls = os.listdir(directory)

### copy gmd

In [178]:
for i in range(1,len(df['parc_name'])):
    for j in range (1,len(ls)):
        if df['parc_name'][i] == ls[j][0:len(ls[j])-7]:
            #print(df['parc_name'][i])
            original = directory + '/' + ls[j]
            target = '/media/tara/HD710PRO/Thesis/Atlas/subregions/gmd/' 
            os.makedirs(target, exist_ok = True)
            target = target + ls[j]
            shutil.copyfile(original, target)

### copy zALFF

In [179]:
df = pd.read_csv('subregions.csv')
df.head()

,parc_name,gmd_sws_total_fdr,zALFF_sws_total_fdr,zfALFF_sws_total_fdr,zDCbin_sws_total_fdr,zDCwei_sws_total_fdr,zReHo_sws_total_fdr
0,17Networks_17,NaN,NaN,NaN,NaN,NaN,NaN
1,17Networks_16,NaN,NaN,NaN,NaN,NaN,NaN
2,17Networks_15,NaN,NaN,NaN,NaN,NaN,0.04454
3,17Networks_14,NaN,NaN,NaN,NaN,NaN,NaN
4,17Networks_13,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
df1 = df[['parc_name', 'zALFF_sws_total_fdr']]
df1.head()

       parc_name  zALFF_sws_total_fdr
0  17Networks_17                  NaN
1  17Networks_16                  NaN
2  17Networks_15                  NaN
3  17Networks_14                  NaN
4  17Networks_13                  NaN

In [181]:
df2 = df1.dropna()

In [182]:
df = df2.reset_index()

In [183]:
df2 = df.drop('index', axis = 1)

In [184]:
df = df2

In [185]:
for i in range(1,len(df['parc_name'])):
    for j in range (1,len(ls)):
        if df['parc_name'][i] == ls[j][0:len(ls[j])-7]:
            #print(df['parc_name'][i])
            original = directory + '/' + ls[j]
            target = '/media/tara/HD710PRO/Thesis/Atlas/subregions/zALFF/' 
            os.makedirs(target, exist_ok = True)
            target = target + ls[j]
            shutil.copyfile(original, target)

### copy zfALFF

In [186]:
df = pd.read_csv('subregions.csv')
df1 = df[['parc_name', 'zfALFF_sws_total_fdr']]
df2 = df1.dropna()

In [187]:
df = df2.reset_index()
df2 = df.drop('index', axis = 1)
df = df2

In [188]:
df.head()

      parc_name  zfALFF_sws_total_fdr
0  17Networks_9              0.044478
1  17Networks_2              0.049611
2      lPFtha_L              0.044478
3       cTtha_L              0.049611
4        Otha_L              0.041309

In [189]:
for i in range(1,len(df['parc_name'])):
    for j in range (1,len(ls)):
        if df['parc_name'][i] == ls[j][0:len(ls[j])-7]:
            #print(df['parc_name'][i])
            original = directory + '/' + ls[j]
            target = '/media/tara/HD710PRO/Thesis/Atlas/subregions/zfALFF/' 
            os.makedirs(target, exist_ok = True)
            target = target + ls[j]
            shutil.copyfile(original, target)

### copy zDCbin

In [191]:
df = pd.read_csv('subregions.csv')
df1 = df[['parc_name', 'zDCbin_sws_total_fdr']]
df2 = df1.dropna()

In [192]:
df = df2.reset_index()
df2 = df.drop('index', axis = 1)
df = df2

In [193]:
df.head()

                 parc_name  zDCbin_sws_total_fdr
0             17Networks_9              0.048667
1                 lPFtha_L              0.043910
2                 mPMtha_L              0.036365
3  17Networks_RH_TempPar_9              0.049054
4  17Networks_RH_TempPar_5              0.047507

In [194]:
for i in range(1,len(df['parc_name'])):
    for j in range (1,len(ls)):
        if df['parc_name'][i] == ls[j][0:len(ls[j])-7]:
            #print(df['parc_name'][i])
            original = directory + '/' + ls[j]
            target = '/media/tara/HD710PRO/Thesis/Atlas/subregions/zDCbin/' 
            os.makedirs(target, exist_ok = True)
            target = target + ls[j]
            shutil.copyfile(original, target)

### zDCwei

In [195]:
df = pd.read_csv('subregions.csv')
df1 = df[['parc_name', 'zDCwei_sws_total_fdr']]
df2 = df1.dropna()

In [196]:
df = df2.reset_index()
df2 = df.drop('index', axis = 1)
df = df2

In [197]:
df.head()

                 parc_name  zDCwei_sws_total_fdr
0             17Networks_9              0.044540
1                 lPFtha_L              0.035961
2                 mPMtha_L              0.034448
3                   dlPu_L              0.041309
4  17Networks_RH_TempPar_5              0.049220

In [198]:
for i in range(1,len(df['parc_name'])):
    for j in range (1,len(ls)):
        if df['parc_name'][i] == ls[j][0:len(ls[j])-7]:
            #print(df['parc_name'][i])
            original = directory + '/' + ls[j]
            target = '/media/tara/HD710PRO/Thesis/Atlas/subregions/zDCwei/' 
            os.makedirs(target, exist_ok = True)
            target = target + ls[j]
            shutil.copyfile(original, target)

### zReHo

In [199]:
df = pd.read_csv('subregions.csv')
df1 = df[['parc_name', 'zReHo_sws_total_fdr']]
df2 = df1.dropna()

In [200]:
df = df2.reset_index()
df2 = df.drop('index', axis = 1)
df = df2

In [201]:
df.head()

                       parc_name  zReHo_sws_total_fdr
0                  17Networks_15             0.044540
1                        cHipp_L             0.039714
2                        mAmyg_L             0.033089
3  17Networks_RH_DefaultA_PFCm_5             0.044478
4   17Networks_RH_DefaultA_IPL_2             0.039525

In [202]:
for i in range(1,len(df['parc_name'])):
    for j in range (1,len(ls)):
        if df['parc_name'][i] == ls[j][0:len(ls[j])-7]:
            #print(df['parc_name'][i])
            original = directory + '/' + ls[j]
            target = '/media/tara/HD710PRO/Thesis/Atlas/subregions/zReHo/' 
            os.makedirs(target, exist_ok = True)
            target = target + ls[j]
            shutil.copyfile(original, target)