In [1]:
import pandas as pd
import shutil, os
import numpy as np

In [2]:
df = pd.read_csv('fdr.csv')
df.head()

           parcel_name    sws_rs  sws_gb  sws_ms  sws_fa    sws_rw  sws_total
0    gmd_17Networks_17       NaN     NaN     NaN     NaN  0.048864        NaN
1     gmd_17Networks_1       NaN     NaN     NaN     NaN  0.042370        NaN
2  zReHo_17Networks_15  0.017524     NaN     NaN     NaN  0.041528    0.04454
3  zReHo_17Networks_11  0.016880     NaN     NaN     NaN  0.048864        NaN
4   zReHo_17Networks_9  0.024346     NaN     NaN     NaN  0.041528        NaN

In [3]:
df1 = df[['parcel_name' ,'sws_rw']]
df1.head()

           parcel_name    sws_rw
0    gmd_17Networks_17  0.048864
1     gmd_17Networks_1  0.042370
2  zReHo_17Networks_15  0.041528
3  zReHo_17Networks_11  0.048864
4   zReHo_17Networks_9  0.041528

In [4]:
df1.shape

(687, 2)

In [5]:
df2 = df1.dropna()

In [6]:
df2.shape

(162, 2)

In [7]:
df2.insert(1, 'parc_name', np.nan)

In [8]:
df2.head()

           parcel_name  parc_name    sws_rw
0    gmd_17Networks_17        NaN  0.048864
1     gmd_17Networks_1        NaN  0.042370
2  zReHo_17Networks_15        NaN  0.041528
3  zReHo_17Networks_11        NaN  0.048864
4   zReHo_17Networks_9        NaN  0.041528

In [9]:
df2 = df2.reset_index()

In [10]:
df2.head()

   index          parcel_name  parc_name    sws_rw
0      0    gmd_17Networks_17        NaN  0.048864
1      1     gmd_17Networks_1        NaN  0.042370
2      2  zReHo_17Networks_15        NaN  0.041528
3      3  zReHo_17Networks_11        NaN  0.048864
4      4   zReHo_17Networks_9        NaN  0.041528

In [11]:
df = df2.drop('index', axis = 1)

In [12]:
df.head()

           parcel_name  parc_name    sws_rw
0    gmd_17Networks_17        NaN  0.048864
1     gmd_17Networks_1        NaN  0.042370
2  zReHo_17Networks_15        NaN  0.041528
3  zReHo_17Networks_11        NaN  0.048864
4   zReHo_17Networks_9        NaN  0.041528

In [13]:
markers = ['gmd_', 'zALFF_', 'zfALFF_', 'zReHo_', 'zDCwei_', 'zDCbin_']
for i,parc in enumerate(df["parcel_name"]):
    #for i in range(df.shape[0]):
    for marker in markers:
        if parc.find(marker)==0:
            df["parc_name"][i] = df["parcel_name"][i][len(marker):]
            #print(df["sws_total"][i])
            col = marker + "sws_rw_fdr" 
            if col not in df:
                df.insert(2, col, np.nan)
            df.iloc[i, df.columns.get_loc(col)] = df["sws_rw"][i]

<ipython-input-13-8017506a785e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["parc_name"][i] = df["parcel_name"][i][len(marker):]
/home/tara/Programming/env/lib/python3.8/site-packages/pandas/core/indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [14]:
#df.to_csv('fdr_reformed.csv')
df.shape

(162, 9)

### merging duplicates

In [15]:
#df = pd.read_csv('fdr_reformed.csv')
#df.head()

In [16]:
#df.shape

In [15]:
df2 = df.copy()
inds = df2['parc_name'].drop_duplicates().reset_index(drop=True)
df2.set_index('parc_name', inplace=True)
df3 = pd.DataFrame(columns = df2.columns)
for ind in inds:
    region = df2.loc[[ind]]
    if region.shape[0] > 1 :
        reg = region
        cols = reg.columns
        for col in cols:
            reg[col] = reg[col].sum()
        reg = reg.drop_duplicates()
        df3 = pd.concat([df3, reg])
        continue
    df3 = pd.concat([df3, region])

In [16]:
df3.shape

(112, 8)

In [17]:
df3.head()

,parcel_name,zALFF_sws_rw_fdr,zDCbin_sws_rw_fdr,zDCwei_sws_rw_fdr,zfALFF_sws_rw_fdr,zReHo_sws_rw_fdr,gmd_sws_rw_fdr,sws_rw
17Networks_17,gmd_17Networks_17zALFF_17Networks_17,0.041528,0.000000,0.00000,0.000000,0.000000,0.048864,0.090392
17Networks_1,gmd_17Networks_1,NaN,NaN,NaN,NaN,NaN,0.042370,0.042370
17Networks_15,zReHo_17Networks_15zfALFF_17Networks_15,0.000000,0.000000,0.00000,0.043514,0.041528,0.000000,0.085042
17Networks_11,zReHo_17Networks_11,NaN,NaN,NaN,NaN,0.048864,NaN,0.048864
17Networks_9,zReHo_17Networks_9zfALFF_17Networks_9zDCwei_17...,0.000000,0.035376,0.03771,0.041528,0.041528,0.000000,0.156142

In [18]:
#df3 = df3.reset_index()

In [19]:
#df3.head()

In [20]:
df3.to_csv('SWSrw_fdr_reformed.csv')

In [20]:
df3.shape

(156, 8)