In [1]:
import pandas as pd
import shutil, os
import numpy as np

In [2]:
df = pd.read_csv('p.csv')
df.head()

,parcel_name,sws_rs,sws_gb,sws_ms,sws_fa,sws_rw,sws_total
0,gmd_17Networks_17,0.071966,0.582126,0.248658,0.455413,0.046039,0.231128
1,gmd_17Networks_16,0.201671,0.703188,0.776469,0.457278,0.285506,0.323083
2,gmd_17Networks_15,0.665409,0.773109,0.810119,0.239218,0.956343,0.521962
3,gmd_17Networks_14,0.635989,0.410975,0.438266,0.596597,0.562483,0.666003
4,gmd_17Networks_13,0.212942,0.968948,0.120675,0.291418,0.113960,0.360521

In [3]:
df1 = df[['parcel_name' ,'sws_rw']]
df1.head()

         parcel_name    sws_rw
0  gmd_17Networks_17  0.046039
1  gmd_17Networks_16  0.285506
2  gmd_17Networks_15  0.956343
3  gmd_17Networks_14  0.562483
4  gmd_17Networks_13  0.113960

In [4]:
df1.shape

(2718, 2)

In [5]:
df2 = df1.dropna()

In [6]:
df2.shape

(2718, 2)

In [7]:
df2.insert(1, 'parc_name', np.nan)

In [8]:
df2.head()

         parcel_name  parc_name    sws_rw
0  gmd_17Networks_17        NaN  0.046039
1  gmd_17Networks_16        NaN  0.285506
2  gmd_17Networks_15        NaN  0.956343
3  gmd_17Networks_14        NaN  0.562483
4  gmd_17Networks_13        NaN  0.113960

In [9]:
#df2 = df2.reset_index()

In [10]:
#df2.head()

In [11]:
#df = df2.drop('index', axis = 1)

In [12]:
df = df2

In [13]:
df.head()

         parcel_name  parc_name    sws_rw
0  gmd_17Networks_17        NaN  0.046039
1  gmd_17Networks_16        NaN  0.285506
2  gmd_17Networks_15        NaN  0.956343
3  gmd_17Networks_14        NaN  0.562483
4  gmd_17Networks_13        NaN  0.113960

In [14]:
markers = ['gmd_', 'zALFF_', 'zfALFF_', 'zReHo_', 'zDCwei_', 'zDCbin_']
for i,parc in enumerate(df["parcel_name"]):
    #for i in range(df.shape[0]):
    for marker in markers:
        if parc.find(marker)==0:
            df["parc_name"][i] = df["parcel_name"][i][len(marker):]
            #print(df["sws_total"][i])
            col = marker + "sws_rw_p" 
            if col not in df:
                df.insert(2, col, np.nan)
            df.iloc[i, df.columns.get_loc(col)] = df["sws_rw"][i]

<ipython-input-14-dc833a8e6013>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["parc_name"][i] = df["parcel_name"][i][len(marker):]
/home/tara/Programming/env/lib/python3.8/site-packages/pandas/core/indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [15]:
df

,parcel_name,parc_name,zALFF_sws_rw_p,zDCbin_sws_rw_p,zDCwei_sws_rw_p,zfALFF_sws_rw_p,zReHo_sws_rw_p,gmd_sws_rw_p,sws_rw
0,gmd_17Networks_17,17Networks_17,NaN,NaN,NaN,NaN,NaN,0.046039,0.046039
1,gmd_17Networks_16,17Networks_16,NaN,NaN,NaN,NaN,NaN,0.285506,0.285506
2,gmd_17Networks_15,17Networks_15,NaN,NaN,NaN,NaN,NaN,0.956343,0.956343
3,gmd_17Networks_14,17Networks_14,NaN,NaN,NaN,NaN,NaN,0.562483,0.562483
4,gmd_17Networks_13,17Networks_13,NaN,NaN,NaN,NaN,NaN,0.113960,0.113960
...,...,...,...,...,...,...,...,...,...
2713,zDCbin_rHipp_L,rHipp_L,NaN,0.760817,NaN,NaN,NaN,NaN,0.760817
2714,zDCbin_lAmyg_R,lAmyg_R,NaN,0.341437,NaN,NaN,NaN,NaN,0.341437
2715,zDCbin_lAmyg_L,lAmyg_L,NaN,0.739391,NaN,NaN,NaN,NaN,0.739391
2716,zDCbin_mAmyg_R,mAmyg_R,NaN,0.620768,NaN,NaN,NaN,NaN,0.620768
2717,zDCbin_mAmyg_L,mAmyg_L,NaN,0.843922,NaN,NaN,NaN,NaN,0.843922

In [16]:
#df.to_csv('p_reformed.csv')

### merging duplicates

In [17]:
#df = pd.read_csv('p_reformed.csv')
#df.head()

In [18]:
df.shape

(2718, 9)

In [19]:
df2 = df.copy()
inds = df2['parc_name'].drop_duplicates().reset_index(drop=True)
df2.set_index('parc_name', inplace=True)
df3 = pd.DataFrame(columns = df2.columns)
for ind in inds:
    region = df2.loc[[ind]]
    if region.shape[0] > 1 :
        reg = region
        cols = reg.columns
        for col in cols:
            reg[col] = reg[col].sum()
        reg = reg.drop_duplicates()
        df3 = pd.concat([df3, reg])
        continue
    df3 = pd.concat([df3, region])

In [20]:
df3.to_csv('SWSrw_p_reformed.csv')

In [15]:
df3.shape

(453, 8)