In [5]:
import pandas as pd
import os
import shutil

In [8]:
Filtered_Data = pd.read_csv('/media/tara/HD710PRO/Thesis/SWSless.csv')

In [9]:
Filtered_Data.shape

(197, 2)

In [4]:
#directory = '/media/tara/HD710PRO/Thesis/$1NICAP_ADHD_sleep_DATA'
#s = os.listdir(directory)

In [5]:
mriqc = pd.read_csv('/media/tara/HD710PRO/Thesis/group_bold_mcrr.tsv', sep='\t')
mriqc["fd_mean"]

0      0.273411
1      0.110859
2      0.217484
3      0.248734
4      0.472085
         ...
281    0.441533
282    0.159854
283    0.258102
284    0.117529
285    0.168773
Name: fd_mean, Length: 286, dtype: float64

In [6]:
#mriqc.set_index("bids_name")

### spliting subjects and waves from bids_name

In [7]:
mriqc["bids_name"] = mriqc["bids_name"].str.split("_")

In [8]:
mriqc.insert(1, "subject", "0")
mriqc.insert(2, "wave", "0")
mriqc.head()

,Unnamed: 0,subject,wave,bids_name,aor,aqi,dummy_trs,dvars_nstd,dvars_std,dvars_vstd,...,summary_bg_stdv,summary_fg_k,summary_fg_mad,summary_fg_mean,summary_fg_median,summary_fg_n,summary_fg_p05,summary_fg_p95,summary_fg_stdv,tsnr
0,0,0,0,"[sub-0015, ses-wave1, task-rest, bold]",0.006006,0.032845,0,41.352940,1.154422,1.039241,...,20.014797,5.684771,58.764447,465.453400,473.836029,87241.0,334.980011,568.432007,79.931641,32.918119
1,1,0,0,"[sub-0015, ses-wave3, task-rest, bold]",0.000899,0.017761,0,37.355798,1.292336,0.993327,...,276.155121,4.679665,816.748043,5831.709961,5919.116211,90536.0,4219.392212,7178.098145,1010.982178,47.094205
2,2,0,0,"[sub-0085, ses-wave2, task-rest, bold]",0.000957,0.020011,0,36.674423,1.192335,1.018124,...,24.435827,5.626375,53.228397,426.326263,436.392029,77206.0,286.313011,521.115021,77.315605,47.315917
3,3,0,0,"[sub-0085, ses-wave3, task-rest, bold]",0.002002,0.032506,0,34.891304,1.129925,0.949688,...,379.903473,5.457482,799.661921,6260.742188,6397.501953,78492.0,4345.246411,7621.606934,1095.216431,36.709421
4,4,0,0,"[sub-0086, ses-wave1, task-rest, bold]",0.018828,0.043133,0,47.081587,1.171964,1.113701,...,24.920868,5.548184,66.035093,544.862793,554.296021,82308.0,381.432007,671.166040,95.452019,25.462355

In [9]:
for i in range(mriqc.shape[0]):
    mriqc["subject"][i] = mriqc["bids_name"][i][0]
    mriqc["wave"][i] = mriqc["bids_name"][i][1]

<ipython-input-9-8c8d3c25d859>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mriqc["subject"][i] = mriqc["bids_name"][i][0]
<ipython-input-9-8c8d3c25d859>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mriqc["wave"][i] = mriqc["bids_name"][i][1]

In [10]:
mriqc.head()

,Unnamed: 0,subject,wave,bids_name,aor,aqi,dummy_trs,dvars_nstd,dvars_std,dvars_vstd,...,summary_bg_stdv,summary_fg_k,summary_fg_mad,summary_fg_mean,summary_fg_median,summary_fg_n,summary_fg_p05,summary_fg_p95,summary_fg_stdv,tsnr
0,0,sub-0015,ses-wave1,"[sub-0015, ses-wave1, task-rest, bold]",0.006006,0.032845,0,41.352940,1.154422,1.039241,...,20.014797,5.684771,58.764447,465.453400,473.836029,87241.0,334.980011,568.432007,79.931641,32.918119
1,1,sub-0015,ses-wave3,"[sub-0015, ses-wave3, task-rest, bold]",0.000899,0.017761,0,37.355798,1.292336,0.993327,...,276.155121,4.679665,816.748043,5831.709961,5919.116211,90536.0,4219.392212,7178.098145,1010.982178,47.094205
2,2,sub-0085,ses-wave2,"[sub-0085, ses-wave2, task-rest, bold]",0.000957,0.020011,0,36.674423,1.192335,1.018124,...,24.435827,5.626375,53.228397,426.326263,436.392029,77206.0,286.313011,521.115021,77.315605,47.315917
3,3,sub-0085,ses-wave3,"[sub-0085, ses-wave3, task-rest, bold]",0.002002,0.032506,0,34.891304,1.129925,0.949688,...,379.903473,5.457482,799.661921,6260.742188,6397.501953,78492.0,4345.246411,7621.606934,1095.216431,36.709421
4,4,sub-0086,ses-wave1,"[sub-0086, ses-wave1, task-rest, bold]",0.018828,0.043133,0,47.081587,1.171964,1.113701,...,24.920868,5.548184,66.035093,544.862793,554.296021,82308.0,381.432007,671.166040,95.452019,25.462355

### deleting ses-wave1

In [11]:
w2 = mriqc["wave"] == "ses-wave2"
w3 = mriqc["wave"] == "ses-wave3"
mriqc2 = mriqc[w2 | w3]

In [12]:
mriqc2.head()

,Unnamed: 0,subject,wave,bids_name,aor,aqi,dummy_trs,dvars_nstd,dvars_std,dvars_vstd,...,summary_bg_stdv,summary_fg_k,summary_fg_mad,summary_fg_mean,summary_fg_median,summary_fg_n,summary_fg_p05,summary_fg_p95,summary_fg_stdv,tsnr
1,1,sub-0015,ses-wave3,"[sub-0015, ses-wave3, task-rest, bold]",0.000899,0.017761,0,37.355798,1.292336,0.993327,...,276.155121,4.679665,816.748043,5831.709961,5919.116211,90536.0,4219.392212,7178.098145,1010.982178,47.094205
2,2,sub-0085,ses-wave2,"[sub-0085, ses-wave2, task-rest, bold]",0.000957,0.020011,0,36.674423,1.192335,1.018124,...,24.435827,5.626375,53.228397,426.326263,436.392029,77206.0,286.313011,521.115021,77.315605,47.315917
3,3,sub-0085,ses-wave3,"[sub-0085, ses-wave3, task-rest, bold]",0.002002,0.032506,0,34.891304,1.129925,0.949688,...,379.903473,5.457482,799.661921,6260.742188,6397.501953,78492.0,4345.246411,7621.606934,1095.216431,36.709421
5,5,sub-0086,ses-wave3,"[sub-0086, ses-wave3, task-rest, bold]",0.005510,0.028334,0,33.992490,1.191797,0.973933,...,335.485779,6.157917,751.474453,6552.867676,6651.680664,83404.0,4726.627441,7946.639551,1082.739746,41.143008
6,6,sub-0134,ses-wave3,"[sub-0134, ses-wave3, task-rest, bold]",0.006173,0.027082,0,34.333012,1.246870,1.014024,...,380.924347,5.841348,723.497576,5993.178223,6079.876465,95445.0,4344.366602,7366.400391,1017.725220,42.249399

In [13]:
mriqc2.drop('Unnamed: 0', axis=1)

,subject,wave,bids_name,aor,aqi,dummy_trs,dvars_nstd,dvars_std,dvars_vstd,efc,...,summary_bg_stdv,summary_fg_k,summary_fg_mad,summary_fg_mean,summary_fg_median,summary_fg_n,summary_fg_p05,summary_fg_p95,summary_fg_stdv,tsnr
1,sub-0015,ses-wave3,"[sub-0015, ses-wave3, task-rest, bold]",0.000899,0.017761,0,37.355798,1.292336,0.993327,0.395745,...,276.155121,4.679665,816.748043,5831.709961,5919.116211,90536.0,4219.392212,7178.098145,1010.982178,47.094205
2,sub-0085,ses-wave2,"[sub-0085, ses-wave2, task-rest, bold]",0.000957,0.020011,0,36.674423,1.192335,1.018124,0.370917,...,24.435827,5.626375,53.228397,426.326263,436.392029,77206.0,286.313011,521.115021,77.315605,47.315917
3,sub-0085,ses-wave3,"[sub-0085, ses-wave3, task-rest, bold]",0.002002,0.032506,0,34.891304,1.129925,0.949688,0.374768,...,379.903473,5.457482,799.661921,6260.742188,6397.501953,78492.0,4345.246411,7621.606934,1095.216431,36.709421
5,sub-0086,ses-wave3,"[sub-0086, ses-wave3, task-rest, bold]",0.005510,0.028334,0,33.992490,1.191797,0.973933,0.378862,...,335.485779,6.157917,751.474453,6552.867676,6651.680664,83404.0,4726.627441,7946.639551,1082.739746,41.143008
6,sub-0134,ses-wave3,"[sub-0134, ses-wave3, task-rest, bold]",0.006173,0.027082,0,34.333012,1.246870,1.014024,0.407566,...,380.924347,5.841348,723.497576,5993.178223,6079.876465,95445.0,4344.366602,7366.400391,1017.725220,42.249399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,sub-5856,ses-wave3,"[sub-5856, ses-wave3, task-rest, bold]",0.001541,0.028786,0,30.500389,1.154374,1.010635,0.393942,...,273.414856,7.359211,593.438323,5447.195312,5526.172363,89313.0,4169.775391,6493.114551,823.090088,45.280113
281,sub-5927,ses-wave2,"[sub-5927, ses-wave2, task-rest, bold]",0.016295,0.049007,0,58.411823,1.204495,1.113746,0.410896,...,28.702351,3.746226,82.711404,570.066467,588.230042,96236.0,343.528015,719.369034,117.783417,21.363221
282,sub-5927,ses-wave3,"[sub-5927, ses-wave3, task-rest, bold]",0.004772,0.017360,0,34.993247,1.404538,1.067099,0.400165,...,363.669464,5.778410,875.974672,6726.939453,6848.048340,95953.0,4960.964941,8206.457617,1131.067139,52.512600
284,sub-5932,ses-wave2,"[sub-5932, ses-wave2, task-rest, bold]",0.002337,0.019782,0,32.374654,1.188742,1.023998,0.378102,...,29.373724,5.210026,74.551165,565.936829,577.406006,83656.0,402.286018,694.582016,99.128136,42.730870
285,sub-5932,ses-wave3,"[sub-5932, ses-wave3, task-rest, bold]",0.000993,0.019146,0,30.228419,1.207866,0.989414,0.387939,...,327.288391,5.387756,748.343470,5814.910156,5920.180176,85580.0,4146.013428,7089.888745,993.942993,48.092603

### keeping min(fd_mean)

In [14]:
index = mriqc2["subject"].drop_duplicates()

In [15]:
mriqc2 = mriqc2.set_index("subject")

In [16]:
index

1      sub-0015
2      sub-0085
5      sub-0086
6      sub-0134
9      sub-0152
         ...
274    sub-5709
277    sub-5729
279    sub-5856
281    sub-5927
284    sub-5932
Name: subject, Length: 113, dtype: object

In [17]:
df=pd.DataFrame(columns=mriqc.columns)
for file in index:
    sub = mriqc2.loc[[file]]
    if sub.shape[0] > 1:
        a=sub['fd_mean'].min()
        s=sub[sub['fd_mean']==a]
    else:
        s=sub
    s=s.reset_index()
    df=pd.concat([df, s])

In [18]:
df=df.drop('Unnamed: 0', axis=1)

In [19]:
df.head()

,subject,wave,bids_name,aor,aqi,dummy_trs,dvars_nstd,dvars_std,dvars_vstd,efc,...,summary_bg_stdv,summary_fg_k,summary_fg_mad,summary_fg_mean,summary_fg_median,summary_fg_n,summary_fg_p05,summary_fg_p95,summary_fg_stdv,tsnr
0,sub-0015,ses-wave3,"[sub-0015, ses-wave3, task-rest, bold]",0.000899,0.017761,0,37.355798,1.292336,0.993327,0.395745,...,276.155121,4.679665,816.748043,5831.709961,5919.116211,90536.0,4219.392212,7178.098145,1010.982178,47.094205
0,sub-0085,ses-wave2,"[sub-0085, ses-wave2, task-rest, bold]",0.000957,0.020011,0,36.674423,1.192335,1.018124,0.370917,...,24.435827,5.626375,53.228397,426.326263,436.392029,77206.0,286.313011,521.115021,77.315605,47.315917
0,sub-0086,ses-wave3,"[sub-0086, ses-wave3, task-rest, bold]",0.005510,0.028334,0,33.992490,1.191797,0.973933,0.378862,...,335.485779,6.157917,751.474453,6552.867676,6651.680664,83404.0,4726.627441,7946.639551,1082.739746,41.143008
0,sub-0134,ses-wave3,"[sub-0134, ses-wave3, task-rest, bold]",0.006173,0.027082,0,34.333012,1.246870,1.014024,0.407566,...,380.924347,5.841348,723.497576,5993.178223,6079.876465,95445.0,4344.366602,7366.400391,1017.725220,42.249399
0,sub-0152,ses-wave3,"[sub-0152, ses-wave3, task-rest, bold]",0.003781,0.018650,0,31.120778,1.246006,1.016120,0.375596,...,292.891693,4.652200,794.561857,5907.045898,6004.064453,82216.0,4164.573120,7249.966309,1022.996765,49.794380

### sorting on subjects

In [20]:
Data = pd.read_csv('/media/tara/HD710PRO/Thesis/Filtered_Data.csv')

In [21]:
#Data.to_excel('/media/tara/HD710PRO/Thesis', sheet_name='Sheet1')
Data.to_excel(r'/media/tara/HD710PRO/Thesis/DataFrame.xlsx', index = False)

In [22]:
df.to_excel(r'/media/tara/HD710PRO/Thesis/fd_mean_corrected.xlsx', index=False)

In [23]:
fd_mean = df["fd_mean"]

In [24]:
Data.head()

,Subject_ID,imaging waves,SWS,ADHD,GENDER,id,d1_diagadhd_dich,d3_diaagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw
0,sub-0015,"1,2,3","4,5",0,1,15,0.0,0,0.0,0,0.0,0.0,0.0
1,sub-0085,"2,3","4,5",0,0,85,0.0,0,0.0,5,14.0,0.0,1.0
2,sub-0134,"1,3","4,5",0,1,134,0.0,0,0.0,2,0.0,0.0,0.0
3,sub-0152,"1,2,3","4,5",1,0,152,1.0,0,1.0,7,2.0,2.0,3.0
4,sub-0225,"1,2,3","4,5",0,1,225,0.0,0,0.0,3,0.0,0.0,0.0

In [25]:
df.head()

,subject,wave,bids_name,aor,aqi,dummy_trs,dvars_nstd,dvars_std,dvars_vstd,efc,...,summary_bg_stdv,summary_fg_k,summary_fg_mad,summary_fg_mean,summary_fg_median,summary_fg_n,summary_fg_p05,summary_fg_p95,summary_fg_stdv,tsnr
0,sub-0015,ses-wave3,"[sub-0015, ses-wave3, task-rest, bold]",0.000899,0.017761,0,37.355798,1.292336,0.993327,0.395745,...,276.155121,4.679665,816.748043,5831.709961,5919.116211,90536.0,4219.392212,7178.098145,1010.982178,47.094205
0,sub-0085,ses-wave2,"[sub-0085, ses-wave2, task-rest, bold]",0.000957,0.020011,0,36.674423,1.192335,1.018124,0.370917,...,24.435827,5.626375,53.228397,426.326263,436.392029,77206.0,286.313011,521.115021,77.315605,47.315917
0,sub-0086,ses-wave3,"[sub-0086, ses-wave3, task-rest, bold]",0.005510,0.028334,0,33.992490,1.191797,0.973933,0.378862,...,335.485779,6.157917,751.474453,6552.867676,6651.680664,83404.0,4726.627441,7946.639551,1082.739746,41.143008
0,sub-0134,ses-wave3,"[sub-0134, ses-wave3, task-rest, bold]",0.006173,0.027082,0,34.333012,1.246870,1.014024,0.407566,...,380.924347,5.841348,723.497576,5993.178223,6079.876465,95445.0,4344.366602,7366.400391,1017.725220,42.249399
0,sub-0152,ses-wave3,"[sub-0152, ses-wave3, task-rest, bold]",0.003781,0.018650,0,31.120778,1.246006,1.016120,0.375596,...,292.891693,4.652200,794.561857,5907.045898,6004.064453,82216.0,4164.573120,7249.966309,1022.996765,49.794380

In [26]:
#Data.merge(df, on='index')
DataFrame = df.rename(columns={'subject': 'Subject_ID'})
DataFrame.head()

,Subject_ID,wave,bids_name,aor,aqi,dummy_trs,dvars_nstd,dvars_std,dvars_vstd,efc,...,summary_bg_stdv,summary_fg_k,summary_fg_mad,summary_fg_mean,summary_fg_median,summary_fg_n,summary_fg_p05,summary_fg_p95,summary_fg_stdv,tsnr
0,sub-0015,ses-wave3,"[sub-0015, ses-wave3, task-rest, bold]",0.000899,0.017761,0,37.355798,1.292336,0.993327,0.395745,...,276.155121,4.679665,816.748043,5831.709961,5919.116211,90536.0,4219.392212,7178.098145,1010.982178,47.094205
0,sub-0085,ses-wave2,"[sub-0085, ses-wave2, task-rest, bold]",0.000957,0.020011,0,36.674423,1.192335,1.018124,0.370917,...,24.435827,5.626375,53.228397,426.326263,436.392029,77206.0,286.313011,521.115021,77.315605,47.315917
0,sub-0086,ses-wave3,"[sub-0086, ses-wave3, task-rest, bold]",0.005510,0.028334,0,33.992490,1.191797,0.973933,0.378862,...,335.485779,6.157917,751.474453,6552.867676,6651.680664,83404.0,4726.627441,7946.639551,1082.739746,41.143008
0,sub-0134,ses-wave3,"[sub-0134, ses-wave3, task-rest, bold]",0.006173,0.027082,0,34.333012,1.246870,1.014024,0.407566,...,380.924347,5.841348,723.497576,5993.178223,6079.876465,95445.0,4344.366602,7366.400391,1017.725220,42.249399
0,sub-0152,ses-wave3,"[sub-0152, ses-wave3, task-rest, bold]",0.003781,0.018650,0,31.120778,1.246006,1.016120,0.375596,...,292.891693,4.652200,794.561857,5907.045898,6004.064453,82216.0,4164.573120,7249.966309,1022.996765,49.794380

In [27]:
MergedData = Filtered_Data.merge(DataFrame, on='Subject_ID')

In [28]:
MergedData

,Subject_ID,imaging waves,SWS,ADHD,GENDER,id,d1_diagadhd_dich,d3_diaagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,...,summary_bg_stdv,summary_fg_k,summary_fg_mad,summary_fg_mean,summary_fg_median,summary_fg_n,summary_fg_p05,summary_fg_p95,summary_fg_stdv,tsnr
0,sub-0015,"1,2,3","4,5",0,1,15,0.0,0,0.0,0,...,276.155121,4.679665,816.748043,5831.709961,5919.116211,90536.0,4219.392212,7178.098145,1010.982178,47.094205
1,sub-0085,"2,3","4,5",0,0,85,0.0,0,0.0,5,...,24.435827,5.626375,53.228397,426.326263,436.392029,77206.0,286.313011,521.115021,77.315605,47.315917
2,sub-0134,"1,3","4,5",0,1,134,0.0,0,0.0,2,...,380.924347,5.841348,723.497576,5993.178223,6079.876465,95445.0,4344.366602,7366.400391,1017.725220,42.249399
3,sub-0152,"1,2,3","4,5",1,0,152,1.0,0,1.0,7,...,292.891693,4.652200,794.561857,5907.045898,6004.064453,82216.0,4164.573120,7249.966309,1022.996765,49.794380
4,sub-0225,"1,2,3","4,5",0,1,225,0.0,0,0.0,3,...,375.134918,5.629413,715.109435,5791.227051,5912.612305,97526.0,3994.507263,7062.714233,1016.133484,37.062198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,sub-5666,"1,3",5,1,1,5666,1.0,1,1.0,16,...,338.273712,5.179272,782.962376,6257.437500,6392.212402,97307.0,4108.733447,7717.636426,1160.446899,42.310286
102,sub-5709,"1,2,3","4,5",1,1,5709,1.0,1,1.0,16,...,27.496023,5.602666,57.009014,487.997589,500.880035,86401.0,330.016022,596.928040,87.875839,28.937997
103,sub-5856,"1,2,3","4,5",0,0,5856,0.0,0,0.0,0,...,21.726587,6.430917,48.495883,437.767853,444.762024,89996.0,324.503029,527.540039,69.445534,38.594126
104,sub-5927,"1,2,3",4,1,1,5927,1.0,1,1.0,9,...,363.669464,5.778410,875.974672,6726.939453,6848.048340,95953.0,4960.964941,8206.457617,1131.067139,52.512600
105,sub-5932,"1,2,3","4,5",0,0,5932,0.0,0,0.0,0,...,29.373724,5.210026,74.551165,565.936829,577.406006,83656.0,402.286018,694.582016,99.128136,42.730870

In [29]:
MergedData.to_csv(r'/media/tara/HD710PRO/Thesis/MergedData.csv', index=False)

### Delete Subjects With Motion

In [30]:
lst=MergedData['Subject_ID']

In [31]:
lst

0      sub-0015
1      sub-0085
2      sub-0134
3      sub-0152
4      sub-0225
         ...
101    sub-5666
102    sub-5709
103    sub-5856
104    sub-5927
105    sub-5932
Name: Subject_ID, Length: 106, dtype: object

In [32]:
drc='/media/tara/HD710PRO/Thesis/$1NICAP_ADHD_sleep_DATA'
lst2 = os.listdir(drc)

In [33]:
cc=0
for i in lst2:
    for j in lst:
        if i == j:
            cc=1
            break
            
    if cc==0:
        shutil.rmtree(drc+'/'+i)
    cc=0